@page "/"



<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Référence du projet : @ProjetActif.Reference <br>
Titre du projet : @ProjetActif.Titre
<table>
    <thead>
        <tr>
            <th>Numéro d'étape</th>
            <th>Titre de l'étape</th>
            <th>Status</th>
            <th>Commentaire</th>
        </tr>
        @foreach (var etape in ProjetActif.ListeEtape)
        {
            <tr>
                <td>@etape.Numero</td>
                <td>@etape.Titre</td>
                <td>@etape.ActivStatus</td>
                <td>@etape.Commentaire</td>
            </tr>
        }
    </thead>
</table>
@foreach (var etape in ProjetActif.ListeEtape)
{
    <div>
        @etape.Titre
    </div>
}

@code {
    Projet ProjetActif = new Projet();
    protected override void OnInitialized()
    {
        ProjetActif.Titre = "Mon nouveu projet";
        ProjetActif.Reference = "Ref du proj";
        ProjetActif.ListeEtape = new List<Etape>{new Etape()
{
Titre="Etape 1",
Numero=1,
ActivStatus=Etape.Status.ARenseigner
},new Etape(){
Titre="Etape 2",
Numero=2,
ActivStatus=Etape.Status.ARenseigner
},new Etape(){
Titre="Etape 3",
Numero=3,
ActivStatus=Etape.Status.ARenseigner
}};

    }





}
